[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phylowise"]
	path = phylowise
	url = https://github.com/jordandouglas/phylowise
	subdir = phylowise
